@media (min-width: 720px) {
  .container {
    max-width: 650px;
  }
  .logo {
    width: 75px;
  }
  .welcome__text {
    font-size: 2.3rem;
  }
  .subscribe {
    font-size: 1rem;
  }
  .subscribe__bar {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .input__wrapper {
    width: 68%;
  }
  .error__message {
    text-align: left;
    margin-left: 3ch;
  }
  .submit__email {
    padding: 0.8rem 2rem;
    width: 30%;
  }
}
