*,
*::after,
*::before {
  box-sizing: border-box;
}
$blue: hsl(223, 87%, 63%);
// ### Secondary
$pale-blue: hsl(223, 87%, 70%);
$pale-blue-a: hsla(223, 87%, 70%, 30%);
$light-red: hsl(354, 100%, 66%);
// ### Neutral
$gray: hsl(0, 0%, 59%);
$gray-a: hsla(0, 0%, 59%, 20%);
$very-dark-blue: hsl(209, 33%, 12%);
// ### Font Sizes
$light: 300;
$semi-bold: 600;
$bold: 700;

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

// ### Components
.container {
  width: 80%;
  margin: 0 auto;
}
.logo {
  display: block;
  width: 72px;

  margin: 6.2rem auto 3rem;
}
.welcome__text {
  font-weight: $light;
  color: $gray;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.bold {
  font-weight: $bold;
  color: $very-dark-blue;
}
.subscribe {
  color: $very-dark-blue;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
}

#email,
#email:active,
#email:focus {
  border-radius: 42px;
  padding: 16px 1.8rem;
  border: 1px solid $gray-a;
  height: 50px;
  font-family: inherit;
  width: 100%;
  &::placeholder {
    color: $gray-a;
  }
  &.error,
  &.error:focus,
  &.error:active {
    outline: 1px solid $light-red;
  }
}
.error__message {
  color: $light-red;
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.3rem;
  display: none;
}
.submit__email {
  background-color: $blue;
  border: none;
  color: white;
  height: 50px;
  border-radius: 42px;
  box-shadow: 0 5px 24px $pale-blue-a;
  font-family: inherit;
  font-weight: $semi-bold;
  cursor: pointer;
  &:hover {
    background-color: $pale-blue;
  }
}

.img__dashboard {
  max-width: 100%;
}
.socials {
  display: flex;
  justify-content: center;
}
.social__media {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}
.social__item + .social__item {
  margin-left: 1rem;
}
.social__link,
.social__link:visited {
  color: $blue;
}
.copyright {
  color: $gray;
  font-size: 0.8rem;
  text-align: center;
}

.footer {
  margin-top: 3rem;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid $gray-a;
  font-size: 1rem;
}

@import "./mobile";
@import "./desktop";
